@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/Scripts/Home/Index.js")

<br />
<div ng-controller="ctrl1">
    <div class="row">
        <input id="Number1" type="text" ng-model="calculate1" />
        <input id="Number2" type="text" ng-model="calculate2" />
        <button id="MultiplyNumbers" type="button" ng-click="MultiplyClick()">Multiply</button>
        <br />
        {{calculate1}} <span id="TimesSymbol" style="display: none;">*</span>
        {{calculate2}} <span id="EqualsSymbol" style="display:none;">=</span>
        <span id="TotalCalc"></span>
    </div>
</div>
